.section {
   margin: 2rem 0rem;
   &__header {
      border: 2px solid #7a8282;
      font-size: 1.5rem;
      padding: 1.5rem;
      text-transform: uppercase;
      background-color: $light-main;
   }

   &__body {
      width: 99%;
      margin: auto;
      padding: 1rem;
      flex: 1;
      background-color: $medium-main;
      font-size: 1.4rem;
      &__item {
         display: flex;
         margin: 1rem 0;
         padding: 1rem;
      }
      &__name {
         flex: 0.6;
         display: flex;
         flex-direction: column;
         a {
            font-size: 1.6rem;
            cursor: pointer;
         }
         p {
            width: 80%;
         }
      }

      div p {
         color: #888;
         margin-top: 0.5rem;
      }
      &__posts {
         flex: 0.1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      &__poster {
         div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
               word-wrap: break-word;
               width: 20rem;
               text-align: center;
            }
         }
         flex: 0.3;
         // margin-left: auto;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}

@media (max-width: 700px) {
   .section {
      &__body {
         &__name {
            // text-align: center;
            flex: 1;
            p {
               width: 100%;
               line-height: 2rem;
            }
         }

         &__item {
            padding-top: 1rem;
            // flex-direction: column;
         }

         &__poster {
            padding: 0.4rem;
            // margin-top: 2rem;
            flex: initial;
            align-items: center;
            div {
               p {
                  margin-top: 1rem;
                  max-width: 10rem;
                  word-wrap: break-word;
                  width: initial;
               }
            }
         }
      }
   }
}
