.threadview {
   padding: 1rem;
   & > a {
      font-size: 1.4rem;
   }
   & > * {
      &:not(:last-child) {
         margin-bottom: 1.5rem;
      }
   }
   &__header {
      h2 {
         font-size: 2.2rem;
         margin-bottom: 0.5rem;
      }
      span {
         font-size: 1.4rem;
         color: #888;
      }
      p {
         margin: 1rem 0;
         font-size: 1.4rem;
      }
   }
   &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
         font-size: 1.4rem;
         display: inline-flex;
         &:not(:last-child) {
            margin-right: 1rem;
         }
      }
   }

   &__reply {
      .form {
         width: unset;
         textarea {
            width: 100%;
         }
      }
   }
}
