.container {
   max-width: 1200px;
   width: 100%;
   margin: 5rem auto;
   display: flex;
   flex: 1;
   flex-direction: column;
}

.content {
   background-color: $dark-main;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.btn {
   display: inline-flex;
   padding: 1rem 2rem;
   &--primary {
      background-color: rgb(67, 100, 73) !important;
   }
   &--secondary {
      background: #99818d !important;
   }

   &--light {
      background-color: $light-main !important;
   }

   &--back {
      align-items: center;
      i {
         margin-right: 1rem;
      }
   }

   &--next {
      font-weight: bold;
      font-size: 1.4rem;
      margin-left: 1rem;
   }

   &--prev {
      font-weight: bold;
      font-size: 1.4rem;
      margin-right: 1rem;
   }

   &--nav {
      font-size: 1.2rem;
      border: 0.4px solid white;
      padding: 0.7rem 0.9rem;
      background-color: $dark-main;
      &.active {
         background-color: crimson;
      }
      &:hover {
         background-color: crimson;
      }
   }

   &.disabled {
      pointer-events: none;
      background-color: #777;
      color: #fff;
   }
}

.relative {
   position: relative;
}

.info-text {
   color: #888;
}

input[type="text"],
input[type="password"],
textarea {
   font-family: inherit;
   padding: 0.5rem;
}

.error {
   padding: 1rem;
   background-color: crimson;
   font-size: 1.4rem;
}

.formLoader {
   align-self: flex-start !important;
   width: 5rem !important;
   height: 5rem !important;
   margin: 0 !important;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.paginator {
   padding: 0.4rem;
   display: flex;
   align-items: center;
   background-color: $light-main;
}
