.container {
   max-width: 1200px;
   width: 100%;
   margin: 5rem auto;
   display: flex;
   flex: 1;
   flex-direction: column;
}

.sm-container {
   max-width: 80rem;
   width: 100%;
   margin: 0 auto;
}

.content {
   background-color: $dark-main;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.wrapper {
   display: flex;
   flex-direction: column;
   margin: 2rem;
   width: 95%;
   max-width: 1200px;
   align-self: center;
   flex: 1;
   background-color: $dark-main;
}

.btn {
   padding: 1rem 2rem;
   &--primary {
      background-color: rgb(67, 100, 73) !important;
   }
   &--secondary {
      background: #99818d !important;
   }

   &--light {
      background-color: $light-main !important;
   }
}

.relative {
   position: relative;
}

.info-text {
   color: #888;
}

input[type="text"],
input[type="password"] {
   font-family: inherit;
   padding: 0.5rem;
}

.error {
   padding: 1rem;
   background-color: crimson;
   font-size: 1.4rem;
}
