// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");

// Imports
@import "./colors";
@import "./components";
@import "./text";
@import "../components/UI/Header/Header";
@import "../components/UI/Footer/Footer";
@import "../components/UI/Landing/CategoryHeader";
@import "../components/UI/Landing/Landing";
@import "../components/Pages/Auth/Auth";
@import "../components/Pages/Category/Category";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

html {
   // Set 1rem to 10px
   font-size: 62.5%;
   font-family: Lato, Arial, Helvetica, sans-serif;
   color: white;
   overflow-y: scroll;
}

a {
   text-decoration: none;
   color: inherit;
}

ul, ol {
   list-style: none;
}

button,
input[type="submit"] {
   background-color: inherit;
   cursor: pointer;
   outline: none;
   border: none;
   color: inherit;
}

@media(max-width: 700px){
   html {
      font-size: 50%;
   }
   .hidesmall {
      display: none;
   }
}