@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
.container {
  max-width: 1200px;
  width: 100%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sm-container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.content {
  background-color: #171919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  width: 95%;
  max-width: 1200px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #171919;
}

.btn {
  padding: 1rem 2rem;
}

.btn--primary {
  background-color: #436449 !important;
}

.btn--secondary {
  background: #99818d !important;
}

.btn--light {
  background-color: #303333 !important;
}

.relative {
  position: relative;
}

.info-text {
  color: #888;
}

input[type="text"],
input[type="password"] {
  font-family: inherit;
  padding: 0.5rem;
}

.error {
  padding: 1rem;
  background-color: crimson;
  font-size: 1.4rem;
}

.heading-2 {
  font-size: 3rem;
}

.heading-3 {
  font-size: 2.5rem;
}

.header {
  background-color: #171919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  padding: 1rem;
  border-bottom: 2px solid #7a8282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 2rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo a {
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 1rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#303333), color-stop(50%, #282a2a), to(#3b3e3e));
  background: linear-gradient(90deg, #303333 0%, #282a2a 50%, #3b3e3e 100%);
}

.nav__list {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
}

.nav__link {
  border-radius: 1rem;
  display: block;
  padding: 1rem 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 1rem;
}

.nav__link i {
  margin-right: 1rem;
}

.nav__link:hover {
  background-color: #3a3e3e;
}

.nav__link.navactive {
  background-color: #3a3e3e;
}

.footer {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  background-color: #282a2a;
}

.section {
  margin: 2rem 0rem;
}

.section__header {
  border: 2px solid #7a8282;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-transform: uppercase;
  background-color: #303333;
}

.section__body {
  width: 99%;
  margin: auto;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #282a2a;
  font-size: 1.4rem;
}

.section__body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
}

.section__body__name {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__body__name a {
  font-size: 1.6rem;
  cursor: pointer;
}

.section__body__name p {
  width: 80%;
}

.section__body div p {
  color: #888;
  margin-top: 0.5rem;
}

.section__body__posts {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__body__poster {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__body__poster div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__body__poster div p {
  word-wrap: break-word;
  width: 20rem;
  text-align: center;
}

@media (max-width: 700px) {
  .section__body__name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .section__body__name p {
    width: 100%;
  }
  .section__body__item {
    padding-top: 1rem;
  }
  .section__body__poster {
    padding: 0.4rem;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__body__poster div p {
    margin-top: 1rem;
    color: white;
    max-width: 10rem;
    word-wrap: break-word;
    width: initial;
  }
}

.form {
  background-color: #212424;
  margin: 0 auto;
  width: 600px;
}

.form .formheader {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #303333;
  padding: 1.5rem;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.form .formbody {
  padding: 1.5rem;
}

.form .formfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .formfield label {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.form .formfield:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form .formfield input[type="submit"] {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 700px) {
  .form {
    width: 90%;
  }
}

.subsection {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.subsection__header h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.subsection__header p {
  color: #888;
  font-size: 1.4rem;
}

.subsection__back {
  margin-bottom: 3rem;
}

.subsection__back a {
  font-size: 1.4rem;
}

.subsection__new {
  margin: 0 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subsection__new a {
  font-size: 1.4rem;
}

.subsection__pagination {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #303333;
}

.subsection__pagination span {
  font-size: 1.2rem;
  margin-right: 0.4rem;
  border: 0.4px solid white;
  padding: 0.7rem 0.9rem;
  background-color: #171919;
}

.subsection__pagination span.active {
  background-color: crimson;
}

.subsection__pagination__next {
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.subsection__threads {
  background-color: #282a2a;
  font-size: 1.4rem;
  padding: 0.2rem 1rem;
}

.subsection__threads h3 {
  padding: 1rem;
}

.subsection__threads .thread {
  margin: 2rem 0;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subsection__threads .thread__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

.subsection__threads .thread__info a {
  margin-bottom: 1rem;
}

.subsection__threads .thread__posts {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subsection__threads .thread__posts span {
  margin-bottom: 1rem;
}

.subsection__threads .thread__user {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subsection__threads .thread__user span {
  margin-bottom: 1rem;
}

.createthread .form {
  width: 100%;
}

.createthread .form textarea {
  max-width: 100%;
}

.createthread .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 900px) {
  .createthread .form {
    width: 100%;
  }
  .createthread .sm-container {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  font-size: 62.5%;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: white;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button,
input[type="submit"] {
  background-color: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  color: inherit;
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
  .hidesmall {
    display: none;
  }
}
