.form {
   margin: 0 auto;
   .formheader {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-color: $light-main;
      padding: 1.5rem;
      font-size: 1.7rem;
      letter-spacing: 2px;
      // border-bottom: 1px solid #fff;
   }
   
   .formbody {
      background-color: lighten($dark-main, 4%);
      padding: 1.5rem;
   }
   .formfield {

      textarea {
         max-width: 100%;
      }
      label {
         font-size: 1.5rem;
         margin-bottom: 0.6rem;
      }
      &:not(:last-child) {
         margin-bottom: 1.5rem;
      }
      display: flex;
      flex-direction: column;

      input[type="submit"] {
         align-self: flex-start;
         // background-color: $light-main;
      }
   }
   width: 600px;
}

@media (max-width: 700px) {
   .form {
      width: 90%;
   }
}
