.subsection {
   padding: 1rem;
   flex: 1;
   &__header {
      h2 {
         font-size: 2.2rem;
         margin-bottom: 1rem;
      }
      p {
         color: #888;
         font-size: 1.4rem;
      }
      margin-bottom: 2rem;
   }

   &__back {
      margin-bottom: 1.5rem;
      a {
         font-size: 1.4rem;
      }
   }

   &__new {
      margin: 0 0 3rem 0;
      display: flex;
      justify-content: flex-end;
      a {
         font-size: 1.4rem;
      }
   }

   &__pagination {
      padding: 0.4rem;
      display: flex;
      align-items: center;
      background-color: $light-main;
      span {
         font-size: 1.2rem;
         margin-right: 0.4rem;
         border: 0.4px solid white;
         padding: 0.7rem 0.9rem;
         background-color: $dark-main;
      }
      span.active {
         background-color: crimson;
      }
      &__next {
         font-weight: bold;
         font-size: 1.4rem;
         margin-left: 1rem;
      }
   }

   &__threads {
      h3 {
         padding: 1rem;
      }
      background-color: $medium-main;
      font-size: 1.4rem;
      padding: 0.2rem 1rem;
      // min-height: 50vh;

      & .thread {
         margin: 2rem 0;
         font-size: 1.4rem;
         display: flex;
         &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            a {
               margin-bottom: 1rem;
            }
         }
         &__posts {
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
         }
         &__user {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span {
               margin-bottom: 1rem;
            }
         }
      }
   }
}

@media(max-width: 400px) {
   .thread__info {
      text-align: center;
   }
}